header.row{
  padding:10px 20px;
  margin-bottom:0;
  border-bottom:1px solid #ccc;
  & h1{
    margin:0;
  }
  a, a:hover, a:active, a:visited{
    text-decoration:none;
    color:$font-color;
    font-size:.8em;
  }
  a:hover{
    color:#ccc;
  }
}
footer{
  border-top:1px solid #ccc;
  .footer-text{
    text-align:center;

  }
}
