$font-color:#333;
$link-color:orange;
$hover-color:#ccc;
$base-font-size:20px;
$header-family:museo-slab,sans-serif;
$body-family:fira-sans, sans-serif;
$body-font-weight: 200;
$light-heading-weight:600;
$heading-weight:700;