<footer class="row">
  <div class="span-6 footer-text">
    <p>&copy; <%= Time.now.year %> Chef Liz</p>
  </div>
  <nav class="span-6 footer-nav">
    <ul>
      <li><a href="http://www.twitter.com/Chef_LizC" target="_blank"><i class="fa fa-twitter" title="Chef Liz on Twitter"></i></a></li>
      <li><a href="https://www.linkedin.com/profile/view?id=127905762" target="_blank"><i class="fa fa-linkedin" title="Chef Liz on Linked In"></i></a></li>
      <li><a href="mailto:liz@chefliz.ca" title="email liz@chefliz.ca"><i class="fa fa-envelope"></i></a></li>
    </ul>
  </div>
</footer>