---
title: Contact
---
<div class="row">
  <div class="span-12">
    <div class="legible">
      <h2>Contact Me</h2>
      <div id="response"></div>
      <form action="http://calderonline.com/liz/m.php" method="POST" id="contact_form">
        <input type="text" name="url" placeholder="www.example.com" class="url-element">
        <input type="text" name="name" placeholder="Your Name" class="form-element required" id="Name"><br />
        <input type="email" name="email" placeholder="Your Email" class="form-element" id="email"><br />
        <input type="text" name="phone" placeholder="Phone Number" class="form-element"><br />
        <textarea name="message" placeholder="Your Message" class="form-element" id="message"></textarea><br />
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

